<div [ngSwitch]="id">
    <template [ngSwitchCase]="2"><img src="http://openweathermap.org/img/w/11d.png"></template>
    <template [ngSwitchCase]="3"><img src="http://openweathermap.org/img/w/09d.png"></template>
    <template [ngSwitchCase]="5"><img src="http://openweathermap.org/img/w/10d.png"></template>
    <template [ngSwitchCase]="6"><img src="http://openweathermap.org/img/w/13d.png"></template>
    <template [ngSwitchCase]="7"><img src="http://openweathermap.org/img/w/50d.png"></template>
    <template [ngSwitchCase]="8"><img src="http://openweathermap.org/img/w/01d.png"></template>
</div>