<div class="center-block" *ngIf="!weatherError && !cities">
    <img src="app/img/sunny.gif">
</div>
<div *ngIf="weatherError">
    <h3>{{ weatherError.statusCode }}</h3>
    <h4>{{ weatherError.statusText }}</h4>
</div>
<h3 *ngIf="weatherError || cities">Last updated: {{ updDate | date:"dd/MM/yyyy hh:mm" }}</h3>
<ul class="list-unstyled" id="weatherList" *ngIf="!weatherError">
    <li *ngFor="let city of cities; let i = index" class="weather-item"
        [ngClass]="{ 'visible': isActive(i) }"
        (click)="markCity(city)">
        <div class="itemInner">
            <div class=" star glyphicon glyphicon-star" [ngClass]="{ 'selected': city.selected }"></div>
            <div><h3>{{ city.name }}</h3></div>
            <div><h3 [(temp)]="city.main.temp" weathercolor >{{ city.main.temp | kelvintocelsium | number: "1.1-1" }}°</h3></div>
            <div>
                <weather-icon [id]="city.weather[0]['id']"></weather-icon>
            </div>
            <div [ngClass]="{ 'visible': formData.value }">
                <wind [wind]="city.wind"></wind>
            </div>
            {{ formData.value }}
        </div>
    </li>
</ul>